{% extends 'base.html' %} 
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}<div id="maintitle">Viewing category</div>{% endblock %}

{% block content %}
<div id="container">
	<div id="menu">
		<ul>
		<li><a href="/">Home</a></li>
    {% if categories %}
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
	</div>
    {% endif %}
		</ul>
	</div>
</div>

<div id="container"> 
	<h1>{{ category.title }}</h1>
    {% if posts %}
	<div id="menu">
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
	</div>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
</div>
{% endblock %}