{% extends 'base.html' %} 
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}<div id="maintitle">Viewing post</div>{% endblock %}

{% block content %}
<div id="container">
	<div id="menu">
		<ul>
		<li><a href="/">Home</a></li>
    {% if categories %}
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
	</div>
    {% endif %}
		</ul>
	</div>
</div>
<div id="container">
<h1>{{ post.title }}</h1>
<table align="center" width="auto">
	<tr>
		<td>
			<h4><b>Category:</b></h4>
		</td>
		<td>
			<h4>{{ post.category }}</h4>
		</td>
	</tr>
	<tr>
		<td>
			<h4><b>Added on:</b></h4>
		</td>
		<td>
			<h4>{{ post.posted }}</h4>
		</td>
	</tr>
</table>
</div>
<div id="container">
<p>
    {{ post.body }}
</p>
</div>
{% endblock %}